# =========================
# Compilação C
# =========================

# Arquivos objeto
*.o

# Arquivos compilados padrão
a.out
*.out

# Executáveis CS50
week*/hello*
week*/linguagem*

# Pastas de editor
.vscode/

# Arquivos temporários
*~
*.swp

# Arquivos de sistema
.DS_Store
Thumbs.db
