# =========================
# Compilação C
# =========================

# Arquivos objeto
*.o

# Arquivos compilados padrão
a.out
*.out

# Bibliotecas compiladas
*.so
*.so.*
*.dll
*.dylib

# Arquivos de debug
*.dSYM/
*.su

# Arquivos temporários
*~
*.swp

# Pastas de build
build/
dist/

# Ignorar executáveis sem extensão
*.out
*.exe
*.bin

# Ignorar executáveis criados por compilação
week1/hello-world
week1/linguagemc

# Pastas de editor
.vscode/

# =========================
# Sistema
# =========================

.DS_Store
Thumbs.db

